RAG Email Customer Support Agent.json
{
  "name": "RAG Email Customer Support Agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI Customer Support Agent.\n\nYour task is to answer customer emails professionally and accurately.\n\nRules:\n- Always use the Vector Store tool before answering.\n- Answer only using information found in the Vector Store.\n- Do not make up or assume any information.\n- If the answer is not available in the Vector Store, politely apologize and ask the customer to contact the support team for further assistance.\n- Keep your replies clear, concise, friendly, and professional.\n- Maintain the conversation context using memory.\n- Reply in a professional email format.\n\nCustomer Email:\n\n{{ $json.question }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -272,
        0
      ],
      "id": "8c6db68d-1bf5-4de4-ad83-4663b4516e2f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -336,
        224
      ],
      "id": "51901f45-1633-4e16-8991-b8ce11087b0f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "DuieAe3FlmbcIfQo",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.threadId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        -208,
        224
      ],
      "id": "f805a2f2-8587-4d20-8b82-6e44f697ad87",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "Company knowledge base including FAQs, refund policy, pricing, products and support documents."
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        -80,
        224
      ],
      "id": "f4a47d55-450a-4a03-8d6d-86845a5c179b",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -176,
        432
      ],
      "id": "9c765ed4-3e3e-40d0-9191-92d89150e51c",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "IPgNShw082OfFY2A",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -96,
        640
      ],
      "id": "3e1c6cbc-c222-47fa-a653-2f2aec18e297",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "DuieAe3FlmbcIfQo",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        112,
        432
      ],
      "id": "6ef5b270-2114-4fd0-88de-c12a34bf6876",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "DuieAe3FlmbcIfQo",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        320,
        0
      ],
      "id": "954256a8-c247-4970-a78b-8b032ef3f4d0",
      "name": "Reply to a message",
      "webhookId": "f160b94b-7716-4b94-8da5-6baf556f55eb",
      "credentials": {
        "gmailOAuth2": {
          "id": "k9X1FsEeLDpa6MSU",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "86e003e9-f2f7-4416-81fd-e6a2b2006677",
              "name": "question",
              "value": "={{ $json.Subject + \"\\n\\n\" + $json.snippet }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -784,
        0
      ],
      "id": "6b1b5901-7d31-4fc9-b520-8b4732f569d5",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "q": "in:inbox is:unread -from:me"
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        -1008,
        0
      ],
      "id": "eb4d2918-2ad2-4163-a270-bd878bd25ae3",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "BCOxRgIdUSZNxlKq",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        544,
        0
      ],
      "id": "72c6dba2-3927-438e-9067-88cab193b624",
      "name": "Mark a message as read",
      "webhookId": "d5cfd37b-2e5e-43d0-8dd6-7460a0a33d7d",
      "credentials": {
        "gmailOAuth2": {
          "id": "k9X1FsEeLDpa6MSU",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function findBody(parts) {\n  for (const part of parts || []) {\n    if (part.mimeType === \"text/plain\" && part.body?.data) {\n      return part.body.data;\n    }\n    if (part.parts) {\n      const found = findBody(part.parts);\n      if (found) return found;\n    }\n  }\n  return \"\";\n}\n\nconst bodyData =\n  findBody($json.payload?.parts) ||\n  $json.payload?.body?.data ||\n  \"\";\n\nconst emailBody = Buffer.from(\n  bodyData.replace(/-/g, \"+\").replace(/_/g, \"/\"),\n  \"base64\"\n).toString(\"utf8\");\n\nreturn [{\n  json: {\n    ...$json,\n    question: `${$json.Subject}\\n\\n${emailBody}`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        0
      ],
      "id": "6d98378b-f3c8-466f-a391-3974ec618de5",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply to a message": {
      "main": [
        [
          {
            "node": "Mark a message as read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c7aa9ee1-bc01-4b79-bd05-b25107a88f73",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a2722732ac6e7a4dd8b19a9a2e10278bebb09f92074d992974928382839956ee"
  },
  "nodeGroups": [],
  "id": "PPn3kStYXZm4y617",
  "tags": []
}